#footer {
  background-color: #21b697;
  color: $color-white;
  padding: 30px 0;

  @include xmedium-up {
    padding-top: 106px;
  }

  .items-footer {
    @include xsmall-up {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
    }

    .item-wrap {
      @include xsmall-up {
        width: 50%;
      }

      @include medium-up {
        width: 33.3333%;
      }

      .item {
        position: relative;
        margin-bottom: 10px;
        font-size: 0;

        @include xsmall-up {
          margin: 0 10px 15px;
        }

        h6 {
          font-size: 14px;
          font-weight: 700;

          @include xmedium-up {
            margin-bottom: 15px;
            padding-top: 7px;
          }
        }

        p {
          font-size: 11px;

          @include xmedium-up {
            font-size: 13px;
          }
        }
      }
    }
  }

  .logo {
    display: inline-block;
    transition: opacity .5s;

    @include xmedium-up {
      margin-bottom: 10px;
    }

    a {
      display: block;
      height: 100%;
      font: 20px/22px $pacifico;
      color: #fff;
      padding: 0 3px;
      transition: opacity .5s;

      @include xmedium-up {
        font-size: 28px;
        line-height: 30px;
      }

      &:hover {
        opacity: .5;
      }
    }
  }

  .form-group {
    position: relative;
    overflow: hidden;
    max-width: 260px;
    .form-control {
      width: 100%;
      height: 40px;
      border: 2px solid $color-white;
      background: transparent;
      outline: none;
      border-radius: 5px;
      padding: 5px 28px 5px 10px;
      margin-right: -32px;
      box-sizing: border-box;
      font-size: 14px;
      color: $color-white;
      text-overflow: ellipsis;
    }

    .submit {
      text-indent: -9999px;
      background: transparent;
      outline: none;
      border: 0;
      background: url("../images/arrow.png") 50% 50%/ contain no-repeat;
      width: 18px;
      height: 40px;
      position: absolute;
      top: 0;
      right: 10px;
    }
  }
  ul {
    width: 50%;
    display: inline-block;
    li {

      @include xmedium-up {
        margin-bottom: 5px;
      }
      a {
        color: $color-white;
        transition: opacity .5s;
        font-size: 11px;

        @include xmedium-up {
          font-size: 13px;
          line-height: 14px;
        }

        &:hover {
          opacity: .5;
        }
      }
    }
  }
}