/*      header styles for desktop   */
.no-dev {
  #header {
    @include xmedium-up {
      height: 70px;
    }

    .header-holder {
      @include xmedium-up {
        width: 1170px;
        margin: 0 auto;
        position: relative;
        height: 100%;
      }
    }
    .btn-mob {
      @include xmedium-up {
        display: none;
      }
    }

    .logo-block {
      @include xmedium-up {
        width: 270px;
        position: absolute;
        left: 0;
        overflow: hidden;
      }
    }
    .logo {
      @include xmedium-up {
        position: relative;
        left: 0;
        top: 0;
        width: 85px;
        float: left;
        padding-right: 20px;
        overflow: hidden;

        a {
          @include xmedium-up {
            font-size: 28px;
            line-height: 70px;
          }
        }

        &:after {
          content: '';
          width: 1px;
          height: 18px;
          background-color: #32b0ee;
          position: absolute;
          right: 0;
          top: 27px;
          opacity: .3;
        }
      }
    }

    .slogan {
      @include xmedium-up {
        display: block;
        font-size: 13px;
        font-weight: 300;
        opacity: .3;
        color: $color-white;
        line-height: 70px;
        overflow: hidden;
        padding-left: 20px;
      }
    }
    .nav-holder {
      @include xmedium-up {
        position: relative;
        transform: translate(0, 0);
        padding-left: 300px;
        top: auto;
        background-color: transparent;
        height: 100%;
        width: auto;
      }
      .main-nav {
        @include xmedium-up {
          height: 100%;
          padding-top: 0;
          text-align: right;
        }
        li {
          &:first-child {
            @include xmedium-up {
              margin-left: 0;
            }
          }
          @include xmedium-up {
            display: inline-block;
            margin: 0 6px 0;
            padding: 24px 4px 0;
          }

          &.active {
            &:before {
              @include xmedium-up {
                content: '';
                width: 100%;
                height: 1px;
                background-color: #32b0ee;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
              }
            }
          }
          a {
            @include xmedium-up {
              font-size: 14px;
              transition: opacity .5s;
            }

            &:hover {
              @include xmedium-up {
                opacity: .5;
              }
            }
            &:after {
              @include xmedium-up {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 100%;
                transition: width .6s;
                transition-timing-function: ease-out;
              }
            }
            &:hover {
              &:after {
                @include xmedium-up {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*      /header styles for desktop   */

/*      header styles for opened menu for mobile   */
.menu-open {
  body {
    overflow: hidden;
  }
  #header {
    .nav-holder {
      transform: translateY(0);
    }
    .btn-mob {
      span {
        background: none;
        width: 0;
        margin: 0 auto;
        &::before,
        &::after {
          width: 24px;
          left: 2px;
        }
        &::before {
          top: 0;
          transform: rotate(45deg);
        }
        &::after {
          bottom: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

/*      /header styles for opened menu for mobile   */

/*      header styles for mobile   */
#header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 21;
  height: 60px;
  background-color: rgba(16, 22, 54, .2);

  &.sticky {
    background-color: $color-green;
    animation: headerSticky 1s .3s both;
  }
  .holder {
    position: relative;
    height: 100%;
  }
  .btn-mob {
    height: 22px;
    position: relative;
    float: right;
    width: 30px;
    z-index: 100;
    overflow: hidden;
    top: 19px;
    right: 15px;
    text-indent: -9999px;
    transition: opacity .5s;
    span {
      width: 30px;
      height: 4px;
      background: $color-white;
      left: 0;
      top: 9px;
      position: absolute;
      border-radius: 3px;
      &::before,
      &::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        content: "";
        border-radius: 3px;
        transition: transform .3s;
        background: $color-white;
      }
      &::before {
        top: -9px;
        transition-property: top, transform;
      }
      &::after {
        bottom: -9px;
        transition-property: bottom, transform;
      }
    }
  }

  .nav-holder {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
    z-index: 5;
    background-color: $color-green;
    transform: translateY(-100vh);
    transition: transform .6s;
    text-align: center;
    .main-nav {
      margin: 0;
      padding-top: 60px;
      height: calc(100% - 60px);
      > li {
        padding: 0 20px 15px;
        position: relative;
        > a {
          color: $color-white;
        }
      }
    }
  }

  .logo {
    position: absolute;
    top: 16px;
    left: 15px;
    z-index: 10;
    transition: opacity .5s;
    a {
      display: block;
      height: 100%;
      font: 20px/22px $pacifico;
      color: $color-white;
      padding: 0 3px;
      transition: opacity .5s;

      &:hover,
      &:focus {
        opacity: .6;
      }
    }
  }

  .slogan {
    display: none;
  }

}

@keyframes headerSticky {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

/*      /header styles for mobile   */