/*   variables for medias   */
$small: 640px;
$xsmall: 768px;
$medium: 1024px;
$xmedium: 1280px;
$large: 1440px;
$xlarge: 1600px;
/*   /variables for medias   */

$font-base: 'Open Sans', sans-serif;
$pacifico: 'Pacifico', cursive;

/*   variables for colors   */
$color-white: #fff;
$color-dark-blue: #062033;
$color-green: #0eb493;
$color-light-green: #0feb9e;
/*   /variables for colors   */