/*   variables for medias   */
$small: 640px;
$xsmall: 768px;
$medium: 1024px;
$xmedium: 1280px;
$large: 1440px;
$xlarge: 1600px;
/*   /variables for medias   */

$font-base: 'neris light', sans-serif;
$font-black: 'neris black', sans-serif;
$font-semibold: 'neris semibold', sans-serif;

/*   variables for colors   */
$color-white: #fff;
$color-yellow: #ffcb00;
$color-dark-gray: #434149;
/*   /variables for colors   */