@font-face {
    font-family: 'HelveticaNeue_Medium_Cond';
    src: url('../fonts/helveticaneueltpro-mdcn-webfont.eot');
    src: local(' '), url('../fonts/helveticaneueltpro-mdcn-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue_Medium_Cond.woff') format('woff'), url('../fonts/HelveticaNeue_Medium_Cond.ttf') format('truetype'), url('../fonts/HelveticaNeue_Medium_Cond.svg#HelveticaNeue_Medium_Cond') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BasicSansLightSFRegular';
    src: url('../fonts/basic_sans_light_sf-webfont.eot');
    src: local(' '), url('../fonts/basic_sans_light_sf-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/basic_sans_light_sf-webfont.woff') format('woff'), url('../fonts/basic_sans_light_sf-webfont.ttf') format('truetype'), url('../fonts/basic_sans_light_sf-webfont.svg#BasicSansLightSFRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaMedium';
    src: url('../fonts/4004-webfont.eot');
    src: local(' '), url('../fonts/4004-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/4004-webfont.woff') format('woff'), url('../fonts/4004-webfont.ttf') format('truetype'), url('../fonts/4004-webfont.svg#FuturaMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLight';
    src: url('../fonts/4003-webfont.eot');
    src: local(' '), url('../fonts/4003-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/4003-webfont.woff') format('woff'), url('../fonts/4003-webfont.ttf') format('truetype'), url('../fonts/4003-webfont.svg#FuturaLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaExtraBlackItalic';
    src: url('../fonts/3954-webfont.eot');
    src: local(' '), url('../fonts/3954-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/3954-webfont.woff') format('woff'), url('../fonts/3954-webfont.ttf') format('truetype'), url('../fonts/3954-webfont.svg#FuturaExtraBlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaBold';
    src: url('../fonts/4001-webfont.eot');
    src: local(' '), url('../fonts/4001-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/4001-webfont.woff') format('woff'), url('../fonts/4001-webfont.ttf') format('truetype'), url('../fonts/4001-webfont.svg#FuturaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProBold';
    src: url('../fonts/myriadpro-bold-webfont.eot');
    src: local(' '), url('../fonts/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-bold-webfont.woff') format('woff'), url('../fonts/myriadpro-bold-webfont.ttf') format('truetype'), url('../fonts/myriadpro-bold-webfont.svg#MyriadProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProBoldCondensedItalic';
    src: url('../fonts/myriadpro-boldcondit-webfont.eot');
    src: local(' '), url('../fonts/myriadpro-boldcondit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-boldcondit-webfont.woff') format('woff'), url('../fonts/myriadpro-boldcondit-webfont.ttf') format('truetype'), url('../fonts/myriadpro-boldcondit-webfont.svg#MyriadProBoldCondensedItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProSemibold';
    src: url('../fonts/myriadpro-semibold-webfont.eot');
    src: local(' '), url('../fonts/myriadpro-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-semibold-webfont.woff') format('woff'), url('../fonts/myriadpro-semibold-webfont.ttf') format('truetype'), url('../fonts/myriadpro-semibold-webfont.svg#MyriadProSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadProRegular.eot');
    src: local(' '), url('../fonts/MyriadProRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadProRegular.woff') format('woff'), url('../fonts/MyriadProRegular.ttf') format('truetype'), url('../fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Cond';
    src: url('../fonts/MyriadPro-Cond.eot');
    src: local(' '), url('../fonts/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Cond.woff') format('woff'), url('../fonts/MyriadPro-Cond.ttf') format('truetype'), url('../fonts/MyriadPro-Cond.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}